@import "./colors";

.login{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    form{
        display: flex;
        flex-direction: column;
        .input{
            display: flex;
            margin: 5px 0;
            background: $white;
            padding: 5px;
            align-items: center;
            border-radius: 5px;
            transition: .3s ease-in-out;
            border: solid 1px $white;
            &:focus-within{
                border: solid 1px $dark;
                &>svg{
                    opacity: 1;
                }
            }
            &>svg{
                opacity: .6;
                transition: .3s ease-in-out;
            }
            input{
                outline: none;
                border: none;
                background: none;
                margin-left: 2px;
            }
        }
        button{
            background: $black;
            width: fit-content;
            color: $light;
            // text-transform: uppercase;
            padding: 6px 15px;
            border: 1.5px solid $black;
            // font-size: small;
            border-radius: 5px;
            margin: 5px 0;
            transition: .3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:not(:disabled):hover{
                border: solid 1.5px $black;
                background: $light;
                color: $black;
            }
        }
        .message{
            display: flex;
            align-items: center;
            margin: 5px 0 ;
            color: $error;
            .text{
                font-size: small;
                margin-left: 3px;
            }
        }
    }
}