@import "./colors";

.students {
  .options {
    display: flex;
    align-items: center;
    .option {
      margin: 0 5px;
      padding: 7px 10px;
      border: solid 1.5px $black;
      background: $black;
      color: $light;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: $dark 0 0 20px;
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      &:hover {
        background: $light;
        color: $black;
      }
      span {
        font-size: small;
        margin-left: 5px;
      }
    }
  }
  .list {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .student {
      position: relative;
      background: $dark;
      width: 180px;
      height: 180px;
      padding: 5px;
      border-radius: 5px;
      box-shadow: $dark 0 0 10px;
      color: $white;
      display: flex;
      flex-direction: column;

      // this is for subjects
      &.comp-sub {
        background: $error;
      }

      &.normal-sub {
        background: $success;
      }

      .adm {
        // position: absolute;
        top: 5px;
        right: 5px;
        font-family: "Courier New", Courier, monospace;
        font-size: xx-large;
        text-align: end;
      }
      .photo {
        width: 80px;
        height: 80px;
        // background: $light;
        align-self: center;
        border-radius: 5px;
        // box-shadow: $black 0 0 10px;
        overflow: hidden;
        // background: $light;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: inset $white 0 0 50px;
        // padding: 10px;
        img {
          width: 80px;
          height: 80px;
          object-fit: contain;
        }
      }
      .name {
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
  }
}

.student {
  .std-ss {
    display: flex;
    align-items: center;
    .ds {
      display: flex;
      transition: 0.3s ease-in-out;
      width: 0px;
      opacity: 0;
      pointer-events: none;
      border-radius: 50%;
    }
    &:hover {
      .ds {
        display: flex;
        align-items: center;
        justify-content: center;
        // background: $error;
        color: $error;
        font-size: smaller;
        padding: 2px 5px;
        width: 20px;
        margin: 0 2px;
        cursor: pointer;

        opacity: 1;
        pointer-events: all;
      }
    }
  }
  .st-sub-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
      color: $error;
    }
  }
  .std {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;

    .photo-d {
      // border: solid 1px $black;
      // height: 320px;
      min-width: 420px;
      max-width: 420px;
      min-height: 370px;
      max-height: 370px;
      border-radius: 5px;
      box-shadow: transparentize($dark, 0.6) 0 0 30px;
      background: transparentize($white, 0.8);
      img {
        height: 370px;
        width: 420px;
        object-fit: cover;
      }
      &:hover {
        .std_photo {
          opacity: 1;
        }
      }
      .std_photo {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: $black;
        color: $white;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: $black 0 0 30px;
        opacity: 0.2;
        transition: 0.5s ease-in-out;
      }
    }

    .class-d {
      min-width: 400px;
      max-width: 400px;
      // background: transparentize($dark, 0.6);
      height: 350px;
      padding: 10px;
      border-radius: 5px;
      box-shadow: transparentize($dark, 0.6) 0 0 30px;
    }
    .parent-d {
      background: transparentize($dark, 0.6);
      min-width: 400px;
      max-width: 400px;
      height: 350px;
      padding: 10px;
      border-radius: 5px;
      box-shadow: transparentize($dark, 0.6) 0 0 30px;
      .par-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: capitalize;
        margin: 5px;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.grading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grades-table {
  margin: 20px;
  padding: 10px;
  box-shadow: $black 0 0 1000px;
  min-width: 600px;
  border-radius: 10px;
  .grades-title {
    // background: $black;
    color: $black;
    * {
      text-align: start;
      padding: 5px;
    }
  }
  .grades-row {
    transition: 0.3s ease-in-out;
    padding: 5px 10px;
    &:hover {
      background: transparentize($black, 0.8);
      cursor: pointer;
    }
  }
}
